<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/topojson.v0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.0/proj4.js" integrity="sha512-AI3S7dMy1Pi/wQPRocZ6NearDwfaqb2BRmuJzSgFQJUOXrfSLtnMNceJPgV6arRFwJRh8Cu4snVQ3VqKrWXpkw==" crossorigin="anonymous"></script>
 
    <title>D3 World Map</title>
    <style>
      path {
        stroke: white;
        stroke-width: 0.5px;
        fill: black;
      }
    </style>
 </head>
  <body>
    <div id="map"></div>
    <div>
      <button id="sumit" onclick="submit()">Submit Answer</button>
    </div>
    <div>
      <button id="sumit" onclick="()">New Game</button>
    </div>

    <script type="text/javascript" src="./js/index.js"></script> 
    <script type="text/javascript">
        
    </script>
  </body>
